# MONGODB_URL=mongodb://localhost:27017
MONGODB_URL=mongodb+srv://bakorobert2000:1jHcf2qX4D53KHyw@cluster0.hfr2vqx.mongodb.net/tourisme_burkina?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=tourisme_burkina
APP_NAME=Tourisme Burkina API
APP_VERSION=1.0.0
DEBUG=True
API_V1_PREFIX=/api/v1
SECRET_KEY=your-secret-key-change-in-production-please-do-it-now-make-it-very-long
ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
